

.App {
  padding: 30px;
}
ul{
  list-style: none;
}
.App > div {
  padding: 10px;
  background-color: #fff;

}

.error{
  border:1px solid red;
}

.error-message {
  color: red;
}

.active-filter{
  background-color: #2441fb;
  color: #fff;
}

.is-done{
  opacity: .5;
  background-color: #afff75;
}