.App {
  padding: 30px;
  display: flex;
  
}
.App div{
  padding: 40px;
  background: #c7c7c739;
  border-radius: 30px;
}

body{
background: linear-gradient(10deg, #000000d9 , #000000, #00a4be, #000000,#e0340096,#007a2f6d);
color: #fff;
height: 100vh;
animation: gradient 20s linear infinite;
background-size:800% 800%;
}

@keyframes gradient {
  
	0% {
		background-position: 0% 50% ;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




input{
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin-right: 4px;
  background-color: #ffffff3c;
  color: #fff;
}

input::placeholder{
  color: rgba(250, 250, 250, 0.417);
  padding-left: 10px;
}


.App > div {
  margin-right: 50px;
  margin: 0 auto;
}


li{
  list-style: none;
  margin-bottom: 3px;
}
li > button{
  width: 60px;
  height: 30px;
  border-radius: 10px;
  border: none ;
  background-color: rgb(255, 255, 255);
  color: rgb(99, 40, 105);
transition:  .5s ease-in-out;
font-weight: 800;
}

li button:hover{
  background-color: rgba(255, 255, 255, 0.57);
  color: #fff;
}

h1{
  font-size: 40px;
  color: #b9cfd3;
}